.DS_Store
.coverage
.pytest_cache/
.ruff_cache/
.venv/
*.egg-info/
__pycache__/
_site/
.quarto/
site_libs/

build/.cache/
build/exports/*
!build/exports/.gitkeep
build/generated/*
!build/generated/.gitkeep
build/index/*
!build/index/.gitkeep
build/reports/*
!build/reports/.gitkeep

_freeze/*
!_freeze/.gitkeep

/.quarto/
**/*.quarto_ipynb
